*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-search-main-container{

  width: 100%;
  height: 100%;
  position: relative;

}
.main-search-drop-down{

    position: absolute;
    top: 32%;
    width: 58%;
    background: white;
    animation: fall .5s ease-in;
    box-shadow: 0 2px 5px 4px rgb(0 0 0 / 10%);

}
.main-search-inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-search-container{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .main-search1{
    width: 85%;
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1px;
    background-color: #EEF1FF;
    margin-top: 1rem;
    z-index: 1000;

 }
.main-seach{

    position: relative;
    width: 100%;
    /* height: 100%; */
 
}
.main-search-input{
    position: absolute;
    width: 100%;
    /* height: 35px; */
}
.main-search-btn{
    position: absolute;
    right: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-search-input >  input{

    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 0.1rem black;
    background-color: #fdfdffaf;
}
.main-search-btn > span{
    font-size: 18px;
}
.intial-search-drop{
    display: none;
}
.show-search-drop{
  display: none;
}
.main-search-card img{
    width: 50px;
    height: 50px;
}
.main-search-card{
    display: flex;
    padding: 1.5% 2%;
}

.main-seach-shopname-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 1%;
}
.main-seach-shopname span{

    font-size: 1.05rem;
    font-weight: 500;
}
.main-search-type span{
    font-size: 1rem;
    color: #7e808c;
    font-weight: 300;
}
.main-search-card:hover{
    background-color: #7e808c34;
    cursor: pointer;
    transition: .1s;
}
.main-search-search-all{
    padding: 1%;
}
.main-search-search-all span{
    margin: 0 1%;
    font-size: 1rem;
    font-weight: 300;
}
.main-search-search-all span span{
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 500;
    margin: 1px;
}
.main-search-search-all:hover{
    background-color: #7e808c34;
    cursor: pointer;
    transition: .1s;
}

.main-search-btn{
    cursor: pointer;
}
.main-search-btn button{

    border: none;
    background: none;
}
.main-search-btn span{
    font-size: 18px;
    height: 100%;
    width: 100%;
    color: rgba(54, 52, 52, 0.658);
}
.MainSearchpopular{
    width: 85%;
}
.main-search-outlet-container{

    width: 100%;
}

@keyframes fall{
     
   from{
    transform: translateY(0%);
   }
   to{
    transform: translateY(0%);
   }

}